.about-us-section{
    padding-bottom: 110px;
}
.about-us-left-content{
    max-width: 520px;
    width: 100%;
    p{
        margin-top: 33px;
        margin-bottom: 0px;
    }
    .about-us-btn{
        margin-top: 30px;
        max-width: 203px;
        width: 100%;
    }
}
.about-us-right-content{
    position: relative;
    .experiance{
        position: absolute;
        bottom: 48px;
        left: -31px;
    }
    .experiance-inner{
        position: relative;
        padding: 7px 20px;
        background: color(primaryColor);
        &::after{
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            border-left: 0px solid transparent;
            border-bottom: 13px solid transparent;
            border-right: 31px solid color(primaryColor);
            opacity: 0.5;
            left: 0;
            bottom: -13px;
        }
        h2{
            margin-bottom: 0px;

        }
        h5{
            margin-bottom: 0px;
            font-family: fontfamily(mulish);
            font-weight: 700;
        }
    }
}
.about-us-right-content-img{
    position: relative;
    z-index: 0;
    width: 80%;
}
.about-us-right-list{
    position: absolute;
    top: 48px;
    right: 0px;
    z-index: 1;
    width: 100%;
    ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        max-width: 355px;
        width: 100%;
        margin-left: auto;
        li{
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 30px;
            padding: 30px;
            background: color(whiteColor);
            box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
            h5{
                margin-bottom: 10px;
                width: 99.5%; 
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p{
                margin-bottom: 0px;
                white-space: nowrap; 
                width: 99.5%; 
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}