.section-title{
    .title{
        font-family: fontfamily(mulish);
        margin-bottom: 30px;
        font-weight: 700;
        color: color(primaryColor);
    }
    .sub-title{
        margin-bottom: 0;
        font-weight: 700;
    }   
}